// Colors

$color-one: #813c97; // purple
$color-two: #f58f71; // orange
$color-three: #fff; // white
$color-four: #cab4c7; // gray purple
$color-five: #e5e5e5; // gray
$color-six: #8d8d8d; // gray-2
$line-height: 1.5;


// fonts


$font-one: Roboto, sans-serif;
$font-two: Roboto Slab, serif;
$font-three: Roboto Condensed, sans-serif;
